<%= content_for :message, "still fails!" %>
<%= content_for :detail_message, "Commit that didn't fix the build:" %>

<h3>Test results:</h3>
<div class="build-outputs">
	<h3>RSpec</h3>
	<div class="rspec">
	    <%= raw @rspec_output %>
	</div>
	<h3>Cucumber</h3>
	<div class="cucumber">
	    <%= raw @cucumber_output %>
	</div>
</div>
