<%= content_for :message, "failed!" %>
<%= content_for :detail_message, "Commit that failed the build:" %>

<h3>Test results:</h3>
<div class="build-outputs">
	<div class="rspec">
		<h3 class="test-type">RSpec</h3>		
	    <%= raw @rspec_output %>
	</div>
	<div class="cucumber">
		<h3 class="test-type">Cucumber</h3>		
	    <%= raw @cucumber_output %>
	</div>
</div>
